
.pio/
.pioenvs/
.piolibdeps/


.vscode/*
!.vscode/settings.json
!.vscode/extensions.json


.DS_Store
Thumbs.db

*.log
*.tmp
*.bak
*.swp


*.elf
*.hex
*.bin
*.map


wokwi/.cache/


node_modules/
*.zip
*.rar
